{% extends '@TravelDiaryInterface/_layout/skeleton.html.twig' %}

{% block title %}API Monitor{% endblock %}

{% block skeleton %}
	<nav class="light-blue lighten-1" role="navigation" style="margin-bottom: 30px">
		<div class="nav-wrapper container">
			<a id="logo-container" href="{{ path('monitor') }}" class="brand-logo">TravelDiary API Monitor</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a href="{{ path('dashboard') }}"><i class="material-icons left">keyboard_backspace</i>Back to dashboard</a>
				</li>
				<li>
					<a href="{{ path('monitor') }}"><i class="material-icons left">show_chart</i>Monitor</a>
				</li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>

	<div class="row">
		<div class="col l6 m12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">API Activity</span>
					<br />
					<canvas id="myChart" width="400" height="200"></canvas>
				</div>
			</div>
		</div>

		<div class="col l6 m12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Last API requests</span>
					<table class="responsive-table">

						<thead>
						<tr>
							<th>Timestamp</th>
							<th>Method</th>
							<th>URI</th>
						</tr>
						</thead>

						<tbody>
						{% for request in lastRequests %}
							<tr>
								<td>{{ request.timestamp|date("Y.m.d H:i:s") }}</td>
								<td>{{ request.method|upper }}</td>
								<td>{{ request.uri }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3" class="center">No requests today!</td>
							</tr>
						{% endfor %}
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script>
		var ctx = document.getElementById("myChart");
		var data = {
			labels: [ {% for label in stats|keys %} "{{ label|date("d.m.Y") }}" {{ loop.last ? '' : ',' }} {% endfor %} ],
			datasets: [
				{
					data: [ {% for record in stats %} {{ record }} {{ loop.last ? '' : ',' }} {% endfor %} ],
					label: "API Requests",
					fill: false,
					borderColor: "#29B6F6"
				}
			]
		};

		var myLineChart = new Chart(ctx, {
			type: 'line',
			data: data,
			options: {
				scaleIntegersOnly: true,
				scaleOverride: true,
				scaleSteps: 1
			}
		});
	</script>

{% endblock %}