{% extends '@TravelDiaryInterface/_layout/base.html.twig' %}

{% block title %}{{ (idTrip > 0) ? 'Edit trip' : 'Create trip' }}{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><a href="{{ path('tripsOverview') }}">My Trips</a></li>
				<li class="active"><a href="{{ path('formTrip', {'idTrip': idTrip}) }}">{{ (idTrip > 0) ? 'Edit trip' : 'Create trip' }}</a></li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="well">
				{{ form_start(form) }}
				{{ form_row(form.trpName) }}

				<div class="row">
					<div class="col-md-6">
						{{ form_label(form.trpStartDate) }}
						{{ form_widget(form.trpStartDate) }}
					</div>
					<div class="col-md-6">
						{{ form_label(form.trpEstimatedArrival) }}
						{{ form_widget(form.trpEstimatedArrival) }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						{{ form_label(form.idPrivacy) }}
						{{ form_widget(form.idPrivacy) }}
					</div>
					<div class="col-md-6">
						{{ form_label(form.idStatus) }}
						{{ form_widget(form.idStatus) }}
					</div>
				</div>
				{{ form_widget(form) }}
				<div class="row">
					<div class="col-lg-12 text-right">
						<button type="submit" class="btn btn-primary btn-raised"><i class="material-icons">send</i> Submit </button>
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script>
		$('input[type=date]').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
		{#$('#{{ form.trpDescription.vars.id }}').val('{{ form.trpDescription.vars.value }}');#}
		{#$('#{{ form.trpDescription.vars.id }}').trigger('autoresize');#}
	</script>
{% endblock %}