<thead>
<tr>
	<th>Name</th>
	<th>Destination</th>
	<th>Number of records</th>
	<th>Status</th>
	<th>Privacy</th>
	<th>Actions</th>
</tr>
</thead>

<tbody>
{% for trip in trips.items %}
	<tr>
		<td>{{ trip.trpName }}</td>
		<td>{{ trip.trpDestination }}</td>
		<td>{{ trip.tripRecords.count() }}</td>
		<td>{{ trip.idStatus.staDescription }}</td>
		<td>{{ trip.idPrivacy.prvDescription }}</td>
		<td class="btn-group-sm">
			<a class="btn btn-danger btn-fab" data-action href="{{ path('removeTrip', {'id': trip.idTrip}) }}"><i class="material-icons tiny">delete</i></a>
			<a class="btn btn-primary btn-fab" href="{{ path('formTrip', {'idTrip': trip.idTrip}) }}"><i class="material-icons tiny">mode_edit</i></a>
			<a class="btn btn-default btn-fab" href="{{ path('viewTrip', {'idTrip': trip.idTrip}) }}"><i class="material-icons tiny">visibility</i></a>
		</td>
	</tr>
{% else %}
	<tr>
		<td colspan="6" class="center">
			No trips found!
		</td>
	</tr>
{% endfor %}
</tbody>

<tfoot>
<tr>
	<td colspan="6" class="text-center">
		<nav>
			<ul class="pagination">
				<li class="{{ (trips.page == 1) ? 'disabled' }}"><a href="{{ (trips.page != 1) ? path('tripsOverview', {'page': trips.page - 1}) : '#' }}"> &laquo;</a></li>
				{% for i in 1..trips.pages %}
					<li class="{{ (trips.page == i) ? 'active' }}"><a href="{{ path('tripsOverview', {'page': i}) }}"> {{ i }} </a> </li>
				{% endfor %}
				<li class="{{ (trips.page == trips.pages) ? 'disabled' }}"><a href="{{ (trips.page != trips.pages) ? path('tripsOverview', {'page': trips.page + 1}) : '#' }}">&raquo;</a></li>

			</ul>
		</nav>
	</td>
</tr>
</tfoot>