{% extends '@TravelDiaryInterface/_layout/base.html.twig' %}

{% block title %}{{ trip.trpName }}{% endblock %}

{% block content %}

 	<div class="row">
		<div class="col s12">
			<ol class="breadcrumb">
				<li><a href="{{ path('tripsOverview') }}">My Trips</a></li>
				<li class="active"><a href="{{ path('viewTrip', {'idTrip': trip.idTrip}) }}">{{ trip.trpName }}</a></li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<ul class="list-inline list-unstyled">
				{% for member in trip.users %}
					<li><img src="{{ member.usrEmail|gravatar('50') }}" class="img-circle" title="{{ member.getFullName() }}"></li>
				{% endfor %}
			</ul>
			<div class="panel panel-default">
				<div class="panel-heading">{{ trip.trpName }}</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>Status</th>
							<td>{{ trip.idStatus.staDescription }}</td>
						</tr>
						<tr>
							<th>Privacy</th>
							<td>{{ trip.idPrivacy.prvDescription }}</td>
						</tr>
						<tr>
							<th>Destination</th>
							<td>{{ trip.trpDestination }}</td>
						</tr>
						<tr>
							<th>Start date</th>
							<td>{{ trip.trpStartDate|date("d.m.Y") }}</td>
						</tr>
						<tr>
							<th>Estimated arrival</th>
							<td>{{ trip.trpEstimatedArrival|date("d.m.Y") }}</td>
						</tr>
						<tr>
							<th>Description</th>
							<td>{{ trip.trpDescription }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div id="map" style="width: 100%; height: 500px;"></div>
		</div>
	</div>

	<br />

	<div class="row">
		<div class="col-lg-12">

			<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 30px">
				<div class="container-fluid">

					<div class="collapse navbar-collapse">

						<form class="navbar-form navbar-left ajax-search">
							<div class="form-group">
								<input type="search" class="form-control" placeholder="Search" id="tripRecordsTableSearch" data-table="#tripRecordsTable">
							</div>
						</form>

					</div>
				</div>
			</nav>

			<table class="table table-striped table-hover" data-source="{{ path('listTripRecords', {'page': 1, 'idTrip': trip.idTrip}) }}" data-filter="#tripRecordsTableSearch" id="tripRecordsTable">

			</table>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script>
		function initMap() {
			var pointList = [
				{% for record in trip.tripRecords %}
					{% spaceless %}
						{
							title: "{{ record.recDay|date('d.m.Y') }}",
							location: new google.maps.LatLng({{ record.recLocation.latitude }}, {{ record.recLocation.longitude }})
						}
					{% endspaceless %}
					{{ not loop.last ? ',' }}
				{% endfor %}
			];

			var pointBounds = new google.maps.LatLngBounds();
			var marks = [];
			var pathCoordinates = [];
			var map = new google.maps.Map(document.getElementById('map'));

			pointList.forEach(function (point) {
				pointBounds.extend(point.location);
				marks.push(new google.maps.Marker({
					position: point.location,
					map: map,
					title: point.title
				}));
				pathCoordinates.push(point.location);
			});

			var travelPath = new google.maps.Polyline({
				path: pathCoordinates,
				geodesic: true,
				strokeColor: '#29B6F6',
				strokeOpacity: 1.0,
				strokeWeight: 2
			});

			map.setCenter(pointBounds.getCenter());
			map.fitBounds(pointBounds);
			travelPath.setMap(map);

		}
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_browser_api_key }}&callback=initMap"></script>
{% endblock %}
